@model IEnumerable<WardrobeMVCV1.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Shoes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*Switched from tables to bootstrap per instructions*@
<div class="container" id="container">
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Photo)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Color)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Season)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Occasion)
        </div>
        <div class="col"></div>

    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col">
                <img src="~/Images/@Html.DisplayFor(modelItem => item.Photo)" style="width:75px;" />
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Color)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Season)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Occasion)
            </div>
            @*made buttons*@
            <div class="col">
                <button class="button" id="edit">@Html.ActionLink("Edit", "Edit", new { id = item.ShoeId })</button>
                <button class="button" id="details">@Html.ActionLink("Details", "Details", new { id = item.ShoeId })</button>
                <button class="button" id="delete">@Html.ActionLink("Delete", "Delete", new { id = item.ShoeId })</button>
            </div>
        </div>
    }

</div>
@*<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
           
        </th>
        <th>
            
        </th>
        <th>
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
           
            
        </td>
    </tr>
}

</table>*@
