@model WardrobeMVCV1.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Top</h4>
<hr />
@*added card per instructions*@
@*<div class="card">
    <img src="~/Images/Departwest Flannel.jpg" id="card" alt="Avatar" @*style="width:100%"*@>
    @*<div class="container">
        <h4><b></b></h4>
        <p></p>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Name)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Photo)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Type)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Color)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Season)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Occasion)
        </div>


    </div>
    <div class="row">
        <div class="col">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="col">
            @Html.DisplayFor(model => model.Photo)
        </div>

        <div class="col">
            @Html.DisplayFor(model => model.Type)
        </div>

        <div class="col">
            @Html.DisplayFor(model => model.Color)
        </div>

        <div class="col">
            @Html.DisplayFor(model => model.Season)
        </div>

        <div class="col">
            @Html.DisplayFor(model => model.Occasion)
        </div>
    </div>
</div>
@*<dl class="dl-horizontal">
            <dt>

            </dt>

            <dd>

            </dd>

            <dt>

            </dt>

            <dd>

            </dd>

            <dt>

            </dt>

            <dd>

            </dd>

            <dt>

            </dt>

            <dd>

            </dd>

            <dt>

            </dt>

            <dd>

            </dd>

            <dt>

            </dt>

            <dd>

            </dd>

        </dl>
    </div>*@
<p>
    <button class="button">@Html.ActionLink("Edit", "Edit", new { id = Model.TopID })</button>
    <button class="button">@Html.ActionLink("Back to List", "Index")</button>
</p>
